<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <p class="m-5 px-auto">
        找不到和{{keyword}}有關的餐廳
      </p>
      <form action="/">
        <button class="btn btn-major m-5 px-auto" type="submit" id="back-button">返回</button>
      </form>

    </div>
  </div>
</div>